/* Importing Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Overall Sizing */

*{
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
    background-color:#000;
}

.todos-bg-container {
  background-color: #000;
  display:flex;
  flex-direction:column;
}

.todos-heading {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color:#FFFF00;
}

.create-task-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
    color:#fff;

}

.DateInput{
    background: #ff7200;
    color:#fff;
    padding:10px;
    border:none;
    font-size:18.5px;
    font-weight:400;
}

.create-task-heading-subpart {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
    color:#ff7200;
}

.todo-items-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
    color:#ff7200;
}

.todo-items-heading-subpart {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 32px;
    color:#fff;
}

.todo-items-container {
  margin: 0px;
  padding: 0px;
  color:#fff;
  width:100%;
}

.todo-item-container {
  margin-top: 15px;
}

.todo-user-input {
  background-color: transparent;
  width: 350px;
  border-style: solid;
  border-width:0.25px;
  border-color: #ff7200;
  padding: 10px;
  color:#fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.todo-user-input::placeholder{
    color:#fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-width: 0 0 1px 0;
}

.button {
  color: white;
  background-color: #ff7200;
  font-family:arial;
  font-size: 18px;
  border-width: 0px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding:5px 15px 5px 15px;
  box-shadow:0 0 25px #ff7200;
}

.button:hover{
    background-color: #fff;
    color:#ff7200;
    transition: 0.3s ease-in-out;
    box-shadow:0 0 25px #fff;
}


.label-container {
  background-color: #000;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 4px;
}

.checkbox-input {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-right: 12px;
}

.checkbox-label {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  width: 82%;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.delete-icon-container {
  text-align: right;
  width: 18%;
  color:#fff;
}

.delete-icon {
  padding: 15px;
}

.checked {
  text-decoration: line-through;
}

.section1{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:100%;
}
.section2{
    margin-top:20px;
    width:100%;
}

.event-details{
    width:100%;
    background: transparent;
    border-style:solid;
    border-width:0.25px;
    border-color:#ff7200;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:#fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding:10px;
}

.event-details::placeholder{
    color:#fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.input-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:30px;
}

.date{
    color:yellow;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.title{
    color:#ff7200;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:28px;
}

.location{
    color:green;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:15px;
}

.event{
    color:#fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:14.5px;
    min-width:100%;
}
